// Customize the colors of Octoflat Here



$primary-color:      #222222; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #47a447; //verde Tags, Links, Main Heading, Quote Border
$tertiary-color:     #47a447; // Hover-over color, Active Page color
$accent-color1:      #ffffff; // Hover-over background color for tags
$accent-color2:      #222222; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #222222; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer

 //azul #3276b1